@page
@model UserDataModel
@{
}

@foreach (var acc in Model.Accounts)
{
    <tr>
        <td class="card-container">
            <div class="card-image-container" >
                <img class="card-image card-avatar" src="@acc.AvatarUrl" />
            </div>
            <div class="card-info" >
                <div class="card-name">
                    @acc.DisplayName
                </div>
                <div class="card-desc">
                    on @acc.CreatedAt
                </div>
            </div> 
        </td>
        <td>
            <div class="card-info">
                <div class="card-name">
                    @acc.Email
                </div>
            </div> 
        </td>
        <td>
            <div class="card-info">
                <div class="card-desc">
                    @acc.LastActive
                </div>
            </div> 
        </td>
        <td>
            <div class="status-normal status-pill"></div>
        </td>
        <td>
            <div class="list">
                <a class="toggler" href="javascript:void(0);">
                    <i class="fal fa-ellipsis-v"></i>
                </a>
                <ul class="list-data"  style="padding: 0;">
                        <a href="javascript:void(0);">
                        <li class="list-item">Normal</li>
                    </a>
                    <a href="javascript:void(0);">
                        <li class="list-item">Cautious</li>
                    </a>
                    <a href="javascript:void(0);">
                        <li class="list-item">Ban</li>
                    </a>
                </ul>
            </div>
        </td>
    </tr>
}